# Files in Git tree, for use at dev time:
.eslintignore
.eslintrc.yml
.prettierignore
.prettierrc
.vscode/
/doc/notes/
/integration/
/t/
tsconfig.json
.gitattributes
yarn.lock

# Dependencies:
node_modules/

# TS sources, and TS dev-time output:
*.ts
!*.d.ts
*.tsbuildinfo
